/* CONFIGURAÇÕES PADRÃO */
*{
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
}

body{
    width: 100%;
}

/* CONFIGURAÇÕES CABEÇALHO */
#cabecalho{
    background-color: rgb(79, 77, 140);
    width: fit-content;
    height: fit-content;
}

#menu{
    color: rgb(255, 255, 255);
}

/* CONFIGURAÇÕES DE CORPO */
#corpo{
    background-color: rgb(198, 197, 227);
    width: fit-content;
}

#banner{
    height: 2500px;
    width: 100%;
}

/* CONFIGURAÇÕES BOTÃO DE ACESSIBILIDADE */
#acessibilidade{
    border-radius: 50px;
    padding: 3px;
    line-height: 10px;
    background-color: rgb(79, 77, 140);
    position: fixed;
    right: 60px;
    bottom: 50px;
}

/* CONFIGURAÇÕES DE RODAPÉ */
#footer{
    background-color: rgb(79, 77, 140);
    color: rgb(255, 255, 255);
}

/* CONFIGURAÇÕES GERAIS */
div{
    display: block;
}

ul,li,a{
    text-decoration: none;
}
