/* ESTILOS PADRÃO */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif, 'Arial';
}

/* ESTILOS GERAIS CORPO */
body{
    background-color: rgb(198, 197, 227);
}

/* ESTILO CORPO */
#corpo{
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

/* ESTILO LOGO */
.logo{
    width:100px;
    margin: 5px 5px 0 5px;
    padding: 5px;
}

/* ESTILO CABEÇALHO */
.cabecalho{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100px;
    align-items: center;
    box-sizing: border-box;
    height: fit-content;
    background-color: rgb(79, 77, 140);
    box-shadow: 0px 5px 20px rgb(58, 56, 121);
}

.menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
    display: block;
    padding: 10px;
}

.menu li a span{
    margin-left: 10px;
}

.hover a:hover{
    border-radius: 10px;
    background-color: rgb(58, 56, 121);
    box-shadow: 3px 3px rgba(58, 56, 121, 0.5);
    padding: 10px;
    color: rgb(255, 255, 255);
}

/* ESTILO MENU HAMBÚRGUER */
.menu_hamburguer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#btnCelular{
    display: none;
}

@media (max-width:2000px){
    .menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 110px;
        left: 0;
        background-color: rgb(79, 77, 140);
        height: 0;
        transition: .6s;
        z-index: 10;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active .menu{
        height: calc(100vh - 100px);
        visibility: visible;
        overflow: auto;
    }

    #btnCelular{
        display: flex;
        cursor: pointer;
        background-color: rgb(79, 77, 140);
        border: none;
        font-size: 20px;
    }

    #btnCelular span{
        margin-left: 10px;
        color: rgb(255, 255, 255);
    }
}

/* ESTILO BARRA DE PESQUISA */
#barraPesquisa{
    margin: 5px 25px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    height: 45px;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#busca{
    display: flex;
    border: none;
    background-color: rgb(255, 255, 255);
    outline: none;
    padding: 0;
    font-size: 17px;
    width: 0;
    transition: 0.4s;
}

.lupa{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#barraPesquisa:hover > #busca{
    width: 350px;
}

@media (max-width:600px){
    #busca{
        width: 100%;
        max-width: 300px;
    }
}

/* ESTILO BOTÃO DE ACESSIBILIDADE */
.acessa{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#btnAcessa{
    display: flex;
    cursor: pointer;
    padding: 5px;
    line-height: 10px;
    background-color: rgb(132, 130, 216);
    position: fixed;
    top: 30px;
    right: 35px;
    border: none;
    border-radius: 50%;
    box-shadow: 4px 4px rgba(58, 56, 121, 0.6);
    z-index: 1001;
}

.acessibilidade{
    display: block;
    position: absolute;
    background-color: rgb(132, 130, 216);
    width: 100%;
    max-width: 300px;
    top: 65px;
    right: 30px;
    visibility: hidden;
    overflow-y: hidden;
    border-radius: 25px;
}

 #acessa.active .acessibilidade{
    height: 120px;
    visibility: visible;
    background-color: rgb(132, 130, 216);
    box-shadow: 4px 4px rgba(58, 56, 121, 0.6);
    z-index: 100;
    overflow: auto;
}

.acessibilidade{
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.acessibilidade li{
    padding: 5px;
    margin: 5px;
}

.daltonico{
    padding: 5px;
    margin-left: 2px;
}

.tamanho_fonte{
    padding: 5px;
    margin-left: 2px;
}

/* ESTILOS DAS UTILIDADES DE ACESSIBILIDADE */
.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    top: 1px;
    background-color: white;
}
  
input:checked + .slider {
    background-color: rgb(79, 77, 140);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

@media (max-width:1070px){
    #acessibilidade{
        top: 80px;
        right: 30px;
    }
}


/* ESTILO BANNER */
.banner{
    width: 100%;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
}

/* ESTILO TÍTULO */
.titulo{
    margin: 20px auto;
    text-align: center;
}

/* ESTILO PRODUTOS */
#produto{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
}

.expande{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.expande:hover{
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.centro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.produto{
    background-color: rgb(255, 255, 255);
    padding: 10px 25px;
    margin: 0 12px 12px 100px;
    border: 2px solid rgb(48, 48, 48);
    box-shadow: 0 4px 8px 0 rgba(58, 56, 121, 0.5);
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.produto:hover{
    box-shadow: 0 8px 16px 0 rgba(58, 56, 121, 0.8);
}

/* ESTILO INSERÇÃO DE PRODUTOS */
.corpo{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(198, 197, 227);
}

.area{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 600px;
    margin: 50px auto;
    display: flex;
    box-shadow: 5px 5px 10px rgba(58, 56, 121, 0.5);
}

.addDoc{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eecb86ec;
    padding: 10px;
}

.addDoc img{
    width: 31rem;
}

.formulario{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

.titulo2{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.titulo2 h1::after{
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background-color: rgb(132, 130, 216);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0;
}

.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 25px;
}

.box img{
    margin-top: 5px;
}

.box span{
    margin-left: 10px;
}

.box input, .box textarea{
    margin: 10px;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.box select{
    margin: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.box input:focus-visible, .box select:focus-visible{
    outline: 1px solid rgb(132, 130, 216);
}

.box label{
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.box input::placeholder{
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.butao button{
    width: 100%;
    margin-top: 20px;
    border: none;
    background-color: rgb(132, 130, 216);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.butao button:hover{
    background-color: rgb(79, 77, 140);
}

.butao button a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1330px){
    .addDoc{
        display: none;
    }    

    .area{
        width: 50%;
    }

    .areaComent{
        width: 80%;
    }

    .addDocComent{
        display: flex;
    }    

    .areaComentarios{
        width: 80%;
    }

    .formulario{
        width: 100%;
    }
}

@media screen and (max-width:1064px){
    .area{
        width: 90%;
        height: 100%;
    }

    .areaComentarios{
        width: 90%;
        height: 100%;
    }

    .boxes{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 350px;
        padding-right: 15px;
    }
}

/* ESTILO DE COMENTÁRIOS */
.areaComent{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 600px;
    margin: 60px auto;
    display: flex;
    box-shadow: 5px 5px 10px rgba(58, 56, 121, 0.5);
}

.areaComentarios{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 900px;
    margin-top: 0;
    margin-bottom: 30px;
    display: flex;
    box-shadow: 5px 5px 10px rgba(58, 56, 121, 0.5);
}


.addDocComent{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eecb86ec;
    padding: 10px;
}

.addDocComent img{
    width: 31rem;
}

.comentarios{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

.boxesComentarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
}

.boxes label{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

.branco{
    background-color: rgb(255, 255, 255);
}

.box p{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.descProduto{
    width: 100%;
    max-width: 300px;
}

.descProduto label{
    margin-left: 5px
}

.descProduto input{
    margin: 10px;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

/* ESTILO PÁGINA SOBRE */
.intro{
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 1500px;
    margin: 40px auto;
    padding: 10px;
}

.principal{
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 1500px;
    margin: 20px auto;
    padding: 10px;
}
/* ESTILO RODAPÉ */
#footer{
    text-align: center;
    background-color: rgb(79, 77, 140);
    height: 130px;
    padding-top: 25px;
    margin-top: 20px;
    box-shadow: 5px 0 20px rgb(58, 56, 121);
    width: 100%;
}

#footer p{
    margin-top: 10px;
    margin-bottom: 5px;
}

#footer p a{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.reservado{
    font-size: 17px;
    padding: 5px;
}

/* ESTILOS GERAIS */
p{
    font-size: 17px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

::placeholder{
    color: rgb(0, 0, 0);
}