/* CESTILOS PADRÃO */
*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}

/* ESTILOS GERAIS CORPO */
body{
    background-color: rgb(198, 197, 227);
}

/* ESTILO CABEÇALHO */
.cabecalho{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(79, 77, 140);
    box-shadow: 0px 5px 20px rgb(58, 56, 121);
}

.menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.menu li{
    margin-left: 20px;
    padding: 10px;
}

.menu li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu li a:hover{
    border-radius: 10px;
    background-color: rgb(58, 56, 121);
    box-shadow: 3px 3px rgba(58, 56, 121, 0.5);
    padding: 10px;
    color: rgb(255, 255, 255);
}

/* ESTILO MENU HAMBÚRGUER */
.menu_hamburguer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* ESTILO LOGO */
.logo{
    width: 50px;
    margin-left: 15px;
    padding: 5px;
}

/* ESTILO CORPO */
#corpo{
    width: 100%;
}

/* ESTILO BANNER */
.banner{
    width: 100%;
}

/* ESTILO PRODUTOS */
#produto{
    width: 100%;
    text-align: center;
}

.centro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.produto{
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 0 0 20px 100px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.desc{
    margin-left: 5px;
    padding: 2px;
}